@use 'fonts';

$primary-color: linear-gradient(to right, #3F4855, #A9A9A9);
$secondary-color: #000000;
$accent-color: #2B289A;
$body-text-color: #DEEBEE;
$heading-font-family: 'Inter', Georgia, serif;
$body-font-family: 'Inter', Georgia, serif;
$alt-body-font-family: 'Poppins', Georgia, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;